/* Regole generali */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.contenitore {
    width: 90%;
    margin: 0 auto;
}

.contenitore.stretto {
    width: 70%;
}

.col {
    float: left;
}

a {
    text-decoration: none;
}

.btn {
    color: white;
    background-color: rgb(9, 121, 248);
    padding: 10px 20px;
    text-align: center;
}

/* CSS relativo all'header con logo e nav */

header {
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 0 20px;
    position: fixed;
    background-color: white;
}

#logo {
    float: left;
    padding-right: 20px;
    width: 10%;
}

#logo img {
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
}

header nav {
    float: left;
    width: 90%;
}

header nav li {
    display: inline-block;
}

header nav ul li a {
    padding: 10px;
    margin: 0 10px;
    color: black;
}

#nav-sx {
    float: left;
}

#nav-dx {
    float: right;
}

/* CSS relativo al jumbotron */

#jumbotron {
    height: 750px;
    padding-top: 170px;
    margin-bottom: 200px;
    background-color: rgb(172, 205, 224);
}

#jumbotron h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#jumbotron .col.sx {
    width: 40%;
    padding-right: 100px;
}

#jumbotron .col.sx .btn {
    display: inline-block;
    margin: 20px 0 10px;
}

#jumbotron .col.sx i {
    margin-top: 30px;
    font-size: 30px;
}

#jumbotron .col.dx {
    width: 60%;
}

#jumbotron .col.dx img {
    max-width: 100%;
}


/* CSS relativo al main */

/* Sezione relativa al piano Dropbox business */


#piano-business .col {
    width: calc(90% / 3);

    /* debug */
    border: lightgrey 1px solid;
}

#piano-business .col.cx {
    margin: 0 5%;
}

#piano-business .fatturazione {
    margin: 30px 0 20px;
}

#piano-business .fatturazione .cerchio {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    border-radius: 50%;
    border: solid 1px grey;
}

#piano-business .fatturazione .cerchio.blu {
    border: solid 5px rgb(9, 121, 248);
}

#piano-business .fatturazione span:nth-of-type(even) {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

#piano-business .tipo-contratto {
    text-align: center;
    padding: 10px 0;
    border-bottom: lightgrey 1px solid;
}

#piano-business .contenitore-sezione {
    padding: 20px 20px 50px;
    min-height: 750px;
}

#piano-business .prezzo {
    font-weight: 700;
    margin: 20px 0 10px;
}

#piano-business .tipo {
    color: grey;
}

#piano-business .caratteristiche {
    margin: 10px 0;
}

#piano-business .btn {
    display: block;
    margin: 30px 0;
}

#piano-business div.bordo {
    margin-bottom: 60px;
}

#piano-business span.bordo {
    padding-bottom: 30px;
    border-bottom: lightgrey 1px solid;
}

#piano-business ul {
    list-style-type: none;
}

#piano-business ul li {
    margin: 20px 0;
}

#piano-business ul li i {
    color: rgb(9, 121, 248);
}

/* CSS relativo alla sottosezione Team sotto alle tre colonne */

#piano-business .team {
    margin: 30px 0 80px;
    border: lightgrey 1px solid;
}

#piano-business .team .clearfix {
    padding: 20px;
}

#piano-business .team .col.sx {
    width: 60%;
    border: none;
}

#piano-business .team .col.sx .spaziatura {
    font-weight: 700;
    margin: 10px 0 30px
}

#piano-business .team .col.dx {
    width: 30%;
    float: right;
    border: none;
}

#piano-business .team .btn {
    margin: 0;
}

/* CSS relativo alla sottosezione "Entra in contatto con un partner Dropbox" */

#partner .col {
    border: none;
}

#partner .col.sx {
    width: 60%;
}

#partner .col.sx img {
    width: 80%;
}

#partner .col.dx {
    width: 40%;
    padding-top: 50px;
}

#partner .col.dx p {
    margin-top: 20px;
}

#partner .col.dx .btn {
    background-color: white;
    color: black;
    border: black 1px solid;
    display: inline-block;
}



#piu-operazioni {
    /* debug */
    height: 500px;
    background-color: rgb(192, 170, 43);
}

#team-top .col.sx {
    width: 30%;
    /* debug */
    height: 200px;
    background-color: aquamarine;
}

#team-top .col.dx {
    width: 30%;

    /* debug */
    height: 100px;
    background-color: rgb(134, 27, 125);
}

#team-top .col.cx {
    width: 40%;
    
    /* debug */
    height: 200px;
    background-color: rgb(54, 48, 143);
}

#team-bottom .col.sx {
    width: 50%;
    /* debug */
    background-color: aquamarine;
}

#team-bottom .col.dx {
    width: 50%;

    /* debug */
    height: 100px;
    background-color: rgb(134, 27, 125);
}

#domande-frequenti {
    /* debug */
    height: 500px;
    background-color: rgb(43, 192, 105);
}

footer {
    background-color: black;
    padding: 100px 0 30px;
}

#footer-top .col {
    width: 20%;
    border: solid 1px black;

    /* debug */
    height: 200px;
}

#footer-bottom {
    border-top: solid 1px white;
    padding-top: 30px;
}