/* Regole generali */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.contenitore {
    width: 90%;
    margin: 0 auto;
}

.contenitore.stretto {
    width: 70%;
}

.col {
    float: left;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    color: white;
    background-color: rgb(9, 121, 248);
    padding: 10px 20px;
    text-align: center;
}

/* CSS relativo all'header con logo e nav */

header {
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 0 20px;
    position: fixed;
    background-color: white;
    z-index: 50;
}

#logo {
    float: left;
    padding-right: 20px;
    width: 10%;
}

#logo img {
    vertical-align: middle;
}

header nav {
    float: left;
    width: 90%;
}

header nav li {
    display: inline-block;
}

header nav ul li a {
    padding: 10px;
    margin: 0 10px;
    color: black;
}

#nav-sx {
    float: left;
}

#nav-dx {
    float: right;
}

/* CSS relativo al jumbotron */

#jumbotron {
    height: 750px;
    padding-top: 170px;
    margin-bottom: 200px;
    background-color: rgb(172, 205, 224);
}

#jumbotron h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#jumbotron .col.sx {
    width: 40%;
    padding-right: 100px;
}

#jumbotron .col.sx .btn {
    display: inline-block;
    margin: 20px 0 10px;
}

#jumbotron .col.sx i {
    margin-top: 30px;
    font-size: 30px;
}

#jumbotron .col.dx {
    width: 60%;
}

#jumbotron .col.dx img {
    max-width: 100%;
}


/* CSS relativo al main */

/* Sezione relativa al piano Dropbox business */


#piano-business .col {
    width: calc(90% / 3);

    /* debug */
    border: lightgrey 1px solid;
}

#piano-business .col.cx {
    margin: 0 5%;
}

#piano-business .fatturazione {
    margin: 30px 0 20px;
}

#piano-business .fatturazione .cerchio {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    border-radius: 50%;
    border: solid 1px grey;
}

#piano-business .fatturazione .cerchio.blu {
    border: solid 5px rgb(9, 121, 248);
}

#piano-business .fatturazione span:nth-of-type(even) {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

#piano-business .tipo-contratto {
    text-align: center;
    padding: 10px 0;
    border-bottom: lightgrey 1px solid;
}

#piano-business .contenitore-sezione {
    padding: 20px 20px 50px;
    min-height: 750px;
}

#piano-business .prezzo {
    font-weight: 700;
    margin: 20px 0 10px;
}

#piano-business .tipo {
    color: grey;
}

#piano-business .caratteristiche {
    margin: 10px 0;
}

#piano-business .btn {
    display: block;
    margin: 30px 0;
}

#piano-business div.bordo {
    margin-bottom: 60px;
}

#piano-business span.bordo {
    padding-bottom: 30px;
    border-bottom: lightgrey 1px solid;
}

#piano-business ul {
    list-style-type: none;
}

#piano-business ul li {
    margin: 20px 0;
}

#piano-business ul li i {
    color: rgb(9, 121, 248);
}

/* CSS relativo alla sottosezione Team sotto alle tre colonne */

#piano-business .team {
    margin: 30px 0 80px;
    border: lightgrey 1px solid;
}

#piano-business .team .clearfix {
    padding: 20px;
}

#piano-business .team .col.sx {
    width: 60%;
    border: none;
}

#piano-business .team .col.sx .spaziatura {
    font-weight: 700;
    margin: 10px 0 30px
}

#piano-business .team .col.dx {
    width: 30%;
    float: right;
    border: none;
}

#piano-business .team .btn {
    margin: 0;
}

/* CSS relativo alla sottosezione "Entra in contatto con un partner Dropbox" */

#partner .col {
    border: none;
}

#partner .col.sx {
    width: 60%;
}

#partner .col.sx img {
    width: 80%;
}

#partner .col.dx {
    width: 40%;
    padding-top: 50px;
}

#partner .col.dx p {
    margin-top: 20px;
}

#partner .col.dx .btn {
    background-color: white;
    color: black;
    border: black 1px solid;
    display: inline-block;
}


/* Sezione relativa alla sezione "Esegui più operazione con Dropbox" */

#piu-operazioni {
    margin: 100px 0 150px;
}

#piu-operazioni .riga {
    margin-top: 50px;
}

#piu-operazioni .col {
    width: 30%;
}

#piu-operazioni .col.cx {
    margin: 0 5%;
}

#piu-operazioni img {
    width: 100%;
}

#piu-operazioni h3 {
    margin-bottom: 30px;
}


/* CSS relativo alla sezione dei team che utilizzano Dropbox */

#scopri {
    display: block;
    margin: 30px 0;
    color: rgb(9, 121, 248);
    text-decoration: underline;
}

#team-top .col.sx {
    width: 30%;
}

#team-top .col.dx {
    width: 30%;
}

#team-top .col.cx {
    width: 40%;
    height: 400px;
    background-color: rgb(236, 236, 236);
    padding: 50px;
}

#team-top .logo-azienda {
    float: left;
    width: 50%;
    height: 200px;
    position: relative;
}

#team-top .col.sx img, #team-top .col.dx img {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#team-top .col.cx .logo-centrale {
    padding-bottom: 20px;
}

#team-top .col.cx .logo-centrale img {
    width: 20%;
}

#team-top .col.cx hr {
    width: 30px;
    color: grey;
}

#team-top .col.cx p {
    padding-top: 40px;
}

#team-top .col.sx .logo-azienda:nth-of-type(1) {
    background-color: teal;
}

#team-top .col.sx .logo-azienda:nth-of-type(2) {
    background-color: thistle;
}

#team-top .col.sx .logo-azienda:nth-of-type(3) {
    background-color: tomato;
}

#team-top .col.sx .logo-azienda:nth-of-type(4) {
    background-color: turquoise;
}

#team-top .col.dx .logo-azienda:nth-of-type(1) {
    background-color: coral;
}

#team-top .col.dx .logo-azienda:nth-of-type(2) {
    background-color: rgb(95, 214, 111);
}

#team-top .col.dx .logo-azienda:nth-of-type(3) {
    background-color: rgb(187, 153, 202);
}

#team-top .col.dx .logo-azienda:nth-of-type(4) {
    background-color: rgb(203, 204, 129);
}



/* CSS relativo al box "Porta Dropbox nella tua azienda */

#team-bottom {
    background-color: rgb(167, 192, 240);
    padding: 100px 0;
}

#team-bottom .col.sx {
    width: 50%;
    padding-right: 10%;
}

#team-bottom .col.sx h2 {
    color: rgb(155, 10, 39);
}

#team-bottom .col.dx {
    width: 40%;
    margin-left: 10%;
    text-align: right;
}

#team-bottom .col.dx .btn {
    display: inline-block;
    color: black;
    background-color: white;
}


/* CSS relativo alla sezione "Domande frequenti" */

#domande-frequenti {
    margin: 100px 0;
}

#domande-frequenti h2 {
    padding-bottom: 40px;
    border-bottom: lightgrey 1px solid;
}

#domande-frequenti .domanda {
    padding: 30px 0;
    border-bottom: lightgrey 1px solid;
}

#domande-frequenti p {
    font-weight: 700;
}

#domande-frequenti .domanda .col.dx {
    float: right;
    padding-right: 30px;
}


/* CSS relativo al footer */

footer {
    background-color: black;
    padding: 100px 0 30px;
}

#footer-top {
    padding-bottom: 80px;
}

#footer-top .col {
    color: white;
    width: 20%;
}

#footer-top .col h3 {
    margin-bottom: 20px;
}

#footer-top .col a {
    display: block;
    color: white;
    margin-bottom: 10px;
}

footer hr {
    width: 150px;
    border: none;
    border-top: 1px grey solid;
}

#footer-bottom {
    padding-top: 30px;
    color: grey;
}